<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteNest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>

<h1 class="logo">NoteNest</h1>

<div class="container" id="container">
    <div class="form signup" id="signup">
        <form action="{{ url_for('auth.sign_up') }}" method="POST">
            <h1>Create Account</h1>
            <br><br>
            <div class="form-group">
                <input type="text" id="firstName" name="firstName" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" id="password1" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" id="password2" name="password2" placeholder="Enter your password again">
            </div>
            <br />
            <button class="btn">Sign Up</button>
            <br>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>

    <div class="form signin" id="signin">
        <form action="{{ url_for('auth.login') }}" method="POST">
            <h1>Sign In</h1>
            <br><br>
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="name" name="password" placeholder="Password">
            <br /><br />
            <button class="btn" type="submit">Sign In</button>
            <br>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="panel overlay-left">
                <h1>Welcome To<br>NoteNest</h1>
                <p>Please Subscribe</p>
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="panel overlay-right">
                <h1>NoteNest</h1>
                <p>One stop destination for your notes!</p>
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
